<style>ion-title {
  font-family:'Times New Roman', Times, serif;
}
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>ABOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Conneqt News</ion-card-title>
      <p>
        Conneqt News is a sub-project of a large network of Conneqt Network Technologies.
        Conneqt News is powered by <a href="https://newsapi.org/">News API</a> and Ionic Framework.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Conneqt You</ion-card-title>
      <p>
        Conneqt You is another sub-project under this stack. Please make sure you check that out.
        Conneqt You is a chat/messaging application. Conneqt You is powered by Android Studio.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Developer Notice</ion-card-title>
      <p>
        The entire Conneqt stack is developed only by Rahul Hegde.
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-footer>
    <ion-toolbar>
      <p style="text-align: center;"><strong>Conneqt News</strong></p>
      <p style="text-align: center;">Developed by &copy;Rahul Hegde</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>
