<style>ion-title {
  font-family:'Times New Roman', Times, serif;
}
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>CONTACT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title><ion-icon name="logo-linkedin"></ion-icon>  Linked-In</ion-card-title>
      <p><a href="https://www.linkedin.com/in/rahul-hegde-0955391a5/">https://www.linkedin.com/in/rahul-hegde-0955391a5/</a></p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title><ion-icon name="logo-github"></ion-icon>  Github</ion-card-title>
      <p><a href="https://github.com/rahulhegde99">https://github.com/rahulhegde99</a></p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title><ion-icon name="mail"></ion-icon>  GMail</ion-card-title>
      <p><a href="mailto:rahulhegde97@gmail.com?Subject=Conneqt%20News">rahulhegde97@gmail.com</a></p>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <p style="text-align: center;"><strong>Conneqt News</strong></p>
      <p style="text-align: center;">Developed by &copy;Rahul Hegde</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>
